body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: #000;
  }

.heading-primary{
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 5rem;

  &--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone){
      letter-spacing: 1rem;
    }
  }
  &--sub{
    display: block;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 17.4px;
    animation-name: MoveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone){
      letter-spacing: 1rem;
    }
  }
}

.heading-secondary{
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right ,
    rgba($color-primary-light,0.8),
    rgba($color-primary-dark,0.8));
    -webkit-background-clip: text;
    color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  @include respond(tab-land){
    margin-top: 1rem;
    font-size: 2.5rem;
  }
  @include respond(tab-port){
    margin-top: 3rem;
    font-size: 2.5rem;

  }
  @include respond(phone){
    margin-top: 3rem;
    font-size: 2rem;
  }
  &:hover{
    transform: skewY(5deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}
.heading-tertiary{
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;

}
.paragraph{
  font-size: $default-font-size;

  &:not(:last-child){
    margin-bottom: 3rem;
  }
}
